In [110]:
import pandas as pd

In [113]:
df = pd.read_csv("Data/urdu_dataset.csv")
df

     Unnamed: 0                                           Sentence
0             0                  میرے حیرت انگیز بچے اور پوتے ہیں۔
1             1               میں اپنے کپڑے خود سلائی کر سکتا ہوں۔
2             2              مجھے کینسر تھا لیکن اب ختم ہو گیا ہے۔
3             3       میں ریٹائرڈ ہوں اور عظیم زندگی گزار رہا ہوں۔
4             4                       میرے پاس اسمارٹ فون نہیں ہے۔
..          ...                                                ...
995         995                                  میرا نام جارج ہے۔
996         996                       میرا پسندیدہ کھانا پپیتا ہے۔
997         997    میں کمپیوٹر پروگرامر بننے کا مطالعہ کر رہا ہوں۔
998         998  میری والدہ بہت روایتی ہیں جبکہ میں زیادہ آزاد ...
999         999           میری پسندیدہ موسیقی کی صنف ڈیتھ میٹل ہے۔

[1000 rows x 2 columns]

In [114]:
import random

language = {'urdu': 'Data/urdu_dataset.csv', 
        'russian': 'Data/russian_dataset.csv', 
        'persian': 'Data/persian_dataset.csv', 
        'indonesian': 'Data/indonesian_dataset.csv', 
        'turkish': 'Data/turkish_dataset.csv',
        'korean': 'Data/korean_dataset.csv', 
        'arabic': 'Data/arabic_dataset.csv', 
        'mandarin': 'Data/mandarin_dataset.csv'}

def payload(count, lang):
    df = pd.read_csv(language[lang])
    new_df = pd.read_csv("Data/dataset.csv")
    rnd = {'words': []}
    for i in range(len(df)):
        tmp = df[['Sentence']].iloc[i][0].split()
        for i in range(len(tmp)):
            rnd['words'].append(tmp[i])
    word_list = df[['Sentence']].iloc[count][0].split()
    number_of_words = len(word_list)
    idx = random.randint(0, number_of_words)
    new = df[['Sentence']].iloc[count][0].replace(word_list[idx], "______")
    return {'cloze': new,
           'og_text': new_df[['Sentence']].iloc[count][0],
           'options': [random.choices(rnd['words'], k=3)],
           'correct': word_list[idx]}

In [116]:
payload(random.randint(0, len(df)), "arabic")

{'cloze': 'اسمي ______',
 'og_text': 'my name is george.',
 'options': [['أنا', 'في', 'أتذكر']],
 'correct': 'جورج.'}