In [115]:
import pandas as pd

df = pd.read_csv("Data/dataset.csv")
df[['Sentence']].iloc[:2000]

                                          Sentence
0       i have amazing children and grandchildren.
1                        i can sew my own clothes.
2                   i had cancer but its gone now.
3          i am retired and living the great life.
4                      i do not have a smartphone.
...                                            ...
1995          i currently work for a watch dealer.
1996             i like to spend my money on cars.
1997       i have never had a steady relationship.
1998            i watch too much tv in spare time.
1999  i go to the gym most days just to socialize.

[2000 rows x 1 columns]

In [116]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "translation.json"

In [117]:
translated = {'Sentence': []}

In [118]:
def translate_text(target, text):

    import six
    from google.cloud import translate_v2 as translate

    translate_client = translate.Client()

    if isinstance(text, six.binary_type):
        text = text.decode("utf-8")

    result = translate_client.translate(text, target_language=target)
    main = format(result["translatedText"])
    translated["Sentence"].append(main)

In [119]:
for i in range(1000):
    #print(df[['Sentence']].iloc[i][0])
    translate_text('zh-CN', df[['Sentence']].iloc[i][0])

In [120]:
df = pd.DataFrame.from_dict(translated)
df

              Sentence
0          我有很棒的孩子和孙子。
1            我可以自己缝衣服。
2       我得了癌症，但现在已经好了。
3        我退休了，过着美好的生活。
4             我没有智能手机。
..                 ...
995           我的名字是乔治。
996        我最喜欢的食物是木瓜。
997   我正在学习成为一名计算机程序员。
998  我妈妈很传统，而我更喜欢自由奔放。
999    我最喜欢的音乐类型是死亡金属。

[1000 rows x 1 columns]

In [121]:
df.to_csv('Data/mandarin_dataset.csv')